
body {
    width:1000px;
    margin:0 auto;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #333;
}
blockquote p, pre{
    padding:6px;
    border:1px solid #999;
    background:#f4f4ff;
}
.textcenter {
    text-align:center;
}
a{
	outline:none;
    color:#333;
}
a:hover{
    color:#f33;
}

h1, h2, h3 {
	margin: 0;
	font-weight: normal;
	color: #222;
}

h1 {
	letter-spacing: -1px;
	font-size: 2.6em;
	font-weight: 700;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1em;
	font-weight: bold;
}

.post {
	padding: 12px 0;
}

.post .title {
	letter-spacing: -1px;
	font-weight: 700;
	color: #555;
}

.post .meta {
	margin: 0 0 20px 0;
	padding: 0 0 20px 0;
	border-bottom: 1px solid #EFEFEF;
	line-height: normal;
	color: #555;
}